---
const { tagline, description, reviewer, score } = Astro.props;
/*
const {
    tagline
    //description,
    //reviewer,
    //score,
}: {
    //tagline: string;
    //description: string;
    //reviewer: string;
    //score: string;
} = Review;
 */
---


<section class="m-auto mb-12 flex items-center gap-4 rounded bg-slate-50 p-6 shadow-lg shadow-slate-500">
  <div class="flex flex-col md:flex-row md:gap-x-6">
    <div class="flex flex-col flex-none gap-0 basis-1/6 justify-start items-center">
      <figure class="h-20 w-20 flex items-center justify-center rounded-full bg-emerald-500">
        <figcaption class="text-white mt-0 text-3xl">{score}</figcaption>
      </figure>
    </div>
    <div class="flex flex-col gap-0">
      <div class="text-2xl font-extrabold italic">{tagline}</div>
      <p class="mt-2 mb-2 leading-5">{description}</p>
      <figcaption>
        <div class="font-black uppercase">{reviewer}</div>
        <div class="text-sm font-medium">Long live the king</div>
      </figcaption>
    </div>
  </div>
</section>

