---
// Component Script (Javascript)
const {username, language} = Astro.props
---
<!-- Component Template (HTML + JS Expressions) -->
<div>
    <p class="text-white">My name is {username}</p>
    <p class="text-white">I code using {language}</p>
</div>
